extends ../layout/admin

block styles
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")

block contenido 
  div.py-10
    h1.text-4xl.my-10.font-extrabold.text-center Bienes
      span.font-normal Raices 
    h4.text-center.text-1xl.font-extrabold=pagina



    div(class="bg-white shadow py-8 px-4 rounded mx-auto my-10 max-w-3xl md:px-10")

        form(id="imagen" class="mb-5 dropzone border-dashed border-2 w-full min:h-96 h-auto rounded flex-col justify-center items-center" method="POST" action=`/propiedades/agregar-imagen/${propiedad.id}`)

        button(id="publicar" class="w-full py-3 bg-indigo-600 hover:bg-indigo-700 rounded text-white font-bold uppercase cursor-pointer" type="button") Publicar Propiedad

block scripts
    script(src="/js/agregarImagen.js") 